venv/
*.pyc
build/
dist/
log/
data/*
!data/plugins.json
!data/__plugins__/1AzHmVFhffXjZHexSn78nBpCTJ1wTqskpB/*
.vagrant/
*.log
__pycache__
*.deb
pkg-debian/usr/share/ZeronetBrowser
pkg-debian/DEBIAN/control
pkg-debian/usr/
*.exe
