[submodule "ZeroNet"]
	path = ZeroNet
	url = https://github.com/HelloZeroNet/ZeroNet.git
  branch = py3

[submodule "Browser"]
	path = data/__plugins__/1AzHmVFhffXjZHexSn78nBpCTJ1wTqskpB/Browser
	url = https://github.com/rllola/zeronet-browser-plugin.git
